extends ./base.jade

block head
   title Quizy

block body
   A(href='https://oauth.vk.com/authorize?client_id=4836654&scope=wall&redirect_uri=http://localhost:8000/ok&response_type=code').
      Authorize
